<!doctype html>
<html data-ng-app="favoriteApp" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="favoritesViewport" content="width=device-width, initial-scale=1">
    <title>Favorite manager</title>
    <link rel="icon" type="image/png" href="medias/images/1820785.png">

    <link rel="stylesheet" href="libs/bulma/bulma.min.css">
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/sweetalert/sweetalert2.all.min.js"></script>
    <link href="libs/sweetalert/sweetalert2.min.css" rel="stylesheet">
    <script src="js/favorite.js"></script>
</head>
<body data-ng-controller="FavoritesController" class="has-background-grey-lighter" data-ng-style="{'height':'100%'}">
<section class="section">
    <div class="container">

        <section class="hero is-success is-small">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <p class="title">
                        Favorite Manager
                    </p>
                </div>
            </div>
        </section>

        <div class="mt-6 is-fullwidth">
            <nav class="tabs is-boxed is-fullwidth" data-ng-style="{'background-color': 'hsl(171, 100%, 29%)', 'border-radius':'4px'}">
                <div class="container">
                    <ul>
                        <li class="is-active" id="favoritesTab" data-ng-click="setMode('favoritesView')">
                            <a data-ng-style="isActive()">FAVORITES</a>
                        </li>
                        <li class="" id="categoriesTab" data-ng-click="setMode('categoryView')">
                            <a data-ng-style="isActive()">CATEGORIES</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="box has-background-light" data-ng-if="mode == 'favoritesView'">
            <div class="columns is-centered">
                <div class="column columns is-half is-vcentered">
                    <button class="button is-success is-fullwidth" data-ng-click="setMode('creationFavorite')">Add</button>
                    <button class="button is-danger is-fullwidth ml-3 mr-3" data-ng-click="deleteMultiple()" data-ng-disabled="countChecked() == 0">Delete</button>
                </div>
            </div>
        </div>

        <div class="box has-background-light" data-ng-if="mode == 'categoryView'">
            <div class="columns is-centered">
                <div class="column columns is-one-quarter">
                    <button class="button is-success is-fullwidth" data-ng-click="setMode('creationCategory')">Add</button>
                </div>
            </div>
        </div>

        <div class="box has-background-light" data-ng-if="mode == 'creationFavorite'">
            <div class="columns">
                <div class="column">
                    <h2 class="title">Definition of a new Favorite</h2>
                    <form name="form" class="form-validation" novalidate role="form">
                        <div class="field">
                            <label class="label">Label *</label>
                            <div class="control">
                                <input type="text" data-ng-model="favorite.label" class="input" required="required" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Link *</label>
                            <div class="control">
                                <input type="text" data-ng-model="favorite.link" class="input" required="required" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Category *</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select
                                            data-ng-model="favorite.category"
                                            data-ng-options="item.id as item.label for item in realCategories"
                                            required="required">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="button is-primary" type="button" data-ng-disabled="form.$invalid" data-ng-click="createFavorite()">OK</button>
                        <button class="button is-default" type="button" data-ng-click="cancel()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="box has-background-light" data-ng-if="mode == 'updateFavorite'">
            <div class="columns">
                <div class="column">
                    <h2 class="title">Update of a Favorite</h2>
                    <form name="form" class="form-validation" novalidate role="form">
                        <div class="field">
                            <label class="label">Label *</label>
                            <div class="control">
                                <input type="text" data-ng-model="favorite.label" class="input" required="required" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Link *</label>
                            <div class="control">
                                <input type="text" data-ng-model="favorite.link" class="input" required="required" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Category *</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select
                                            data-ng-model="favorite.category"
                                            data-ng-options="item.id as item.label for item in realCategories"
                                            required="required">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="button is-primary" type="button" data-ng-disabled="form.$invalid" data-ng-click="updateFavorite()">OK</button>
                        <button class="button is-default" type="button" data-ng-click="cancel()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="box has-background-light" data-ng-if="mode == 'creationCategory'">
            <div class="columns">
                <div class="column">
                    <h2 class="title">Definition of a category</h2>
                    <form name="form" class="form-validation" novalidate role="form">
                        <div class="field">
                            <label class="label">Label *</label>
                            <div class="control">
                                <input type="text" data-ng-model="category.label" class="input" required="required" />
                            </div>
                        </div>
                        <button class="button is-primary" type="button" data-ng-disabled="form.$invalid" data-ng-click="createCategory()">OK</button>
                        <button class="button is-default" type="button" data-ng-click="cancelCategory()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="box has-background-light" data-ng-if="mode == 'updateCategory'">
            <div class="columns">
                <div class="column">
                    <h2 class="title">Update of a Category</h2>
                    <form name="form" class="form-validation" novalidate role="form">
                        <div class="field">
                            <label class="label">Label *</label>
                            <div class="control">
                                <input type="text" data-ng-model="category.label" class="input" required="required" />
                            </div>
                        </div>
                        <button class="button is-primary" type="button" data-ng-disabled="form.$invalid" data-ng-click="updateCategory()">OK</button>
                        <button class="button is-default" type="button" data-ng-click="cancelCategory()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="box has-background-light" data-ng-if="(mode == 'categoryView') || (mode == 'creationCategory') || (mode == 'updateCategory')">
            <div class="columns">
                <div class="column">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">

                        <thead class="has-background-grey-light">
                        <tr>
                            <th class="has-text-centered is-vcentered">ID</th>
                            <th class="has-text-centered is-vcentered">Label</th>
                            <th class="has-text-centered is-vcentered">Update</th>
                            <th class="has-text-centered is-vcentered">Delete</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr data-ng-if="categories.length == 0">
                            <td colspan="4" class="has-text-centered is-vcentered">No data !</td>
                        </tr>
                        <tr data-ng-if="c.id !== 0" data-ng-repeat="c in categories | orderBy: sortCriteria">
                            <td class="has-text-centered is-vcentered">
                                {{ c.id }}
                            </td>
                            <td class="is-vcentered has-text-centered">
                                {{ c.label }}
                            </td>
                            <td class="is-narrow has-text-centered">
                                <button class="button is-info" data-ng-click="setUpdateCategory(c)">Update</button>
                            </td>
                            <td class="is-narrow has-text-centered">
                                <button class="button is-danger" data-ng-click="deleteCategory(c.id)">Delete</button>
                            </td>

                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div class="box has-background-light"  data-ng-if="(mode == 'favoritesView') || (mode == 'creationFavorite') || (mode == 'updateFavorite')">

            <div class="select is-fullwidth mb-4">
                <select
                        class="has-background-info-light"
                        data-ng-style="{'border': '1px solid hsl(204, 86%, 53%)'}"
                        data-ng-change="refresh()"
                        data-ng-model="categoryList.filter"
                        data-ng-options="item.id as format(item) for item in categories"
                        required="required">
                </select>
            </div>

            <table class="table is-bordered is-striped is-hoverable is-fullwidth has-background-light">
                <thead class="has-background-grey-light">
                <tr>
                    <th class="is-narrow"><input data-ng-click="checkOrUncheckAll()" ng-checked="allChecked()" type="checkbox"></th>
                    <th class="has-text-centered is-vcentered is-narrow">ID</th>
                    <th class=" has-text-centered is-vcentered">Label</th>
                    <th class="has-text-centered is-vcentered">Link</th>
                    <th class="has-text-centered is-vcentered" data-ng-click="sortByCategory()">Category</th>
                    <th class="has-text-centered is-vcentered is-narrow" data-ng-click="sortByDate()">Last Update</th>
                    <th class="has-text-centered">Update</th>
                </tr>
                </thead>

                <tbody>
                <tr data-ng-if="favorites.length == 0">
                    <td colspan="7">No data !</td>
                </tr>
                <tr data-ng-repeat="f in favorites | orderBy: sortCriteria">
                    <td> <input class="has-text-centered is-vcentered" type="checkbox" data-ng-model="f.selected"></td>
                    <td class="has-text-centered is-vcentered">{{ f.id }}</td>
                    <td class="has-text-centered is-vcentered" data-ng-class="{'has-text-success' : f.validity, 'is-underlined has-text-danger' : !f.validity }" >{{ f.label }}</td>
                    <td>
                        <a data-ng-style="{'word-break': 'break-all'}" data-ng-href="{{ f.link }}" target="_blank">{{ f.link }}</a>
                    </td>
                    <td class="has-text-centered is-vcentered is-narrow"><span class="tag is-success">{{ f.category.label }}</span></td>
                    <td class="has-text-centered is-vcentered">{{ f.date | date: 'yyyy-MM-dd' }}</td>
                    <td class="is-vcentered is-narrow">
                        <button class="button is-info mr-1" data-ng-click="setUpdateFavorite(f)">Update</button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

    </div>


</section>
</body>
</html>